<Applications>
<Application app="Testapp2">
<Start>java -jar ..\\apps\\TestApp2.jar -start</Start>
<Stop>java -jar ..\\apps\\TestApp2.jar -stop</Stop>
</Application>
<Application app="Testapp3">
<Start>java -jar ..\\apps\\TestApp3.jar -start</Start>
<Stop>java -jar ..\\apps\\TestApp3.jar -stop</Stop>
</Application>
<Application app="Testapp">
<Start>java -jar ..\\apps\\TestApp.jar -start</Start>
<Stop>java -jar ..\\apps\\TestApp.jar -stop</Stop>
</Application>
</Applications>